/* latin-ext */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RbLtyU5rZPoAU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RVLtyU5rZP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: Karla, sans-serif;
}
h1:before {
  content: '# '
}
h2:before {
  content: '## '
}

.post-content {
  h3:before {
    content: '### '
  }
}

code { color: #f8f8f2 }
a:hover > code { text-decoration: underline; }

.site-footer {
  border: none;
}
.site-title, .site-title:visited {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: initial;
  margin-bottom: 0;
  font-family: Karla, sans-serif;
  color: #828282;
  &:hover {
    color: #3e978b;
    text-decoration: none;
  }
}

.site-header {
  border-top: none;
  min-height: auto;
  line-height: initial;
  position: relative;
  padding: 10px 0;
}

#posts {
  margin-top: 45px;
}

.social-links {
  float: right;
  a {
    margin-left: 15px;
    .svg-icon {
      padding: 0;
      &:hover {
        color: #3e978b;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #bbbbbb;
    background-color: #181818;
  }
  .site-header {
    border-bottom: 1px solid #484848;
  }
  pre, code {
    border: 1px solid #484848;
  }
}
